


div {

  line-height: 33vh;
  font-family: 'VT323-Regular';
  text-decoration: none;
  background-color: white;
  color:black;
}

div.course {
  pointer-events: auto;
}

div.child {
    pointer-events: none;
    background-color: inherit;
    color: inherit;

}

#count {
  position:fixed;
  bottom:0;
  left:0;
}
