


div {


  font-family: 'Source Serif Pro';
  text-decoration: none;
  background-color: white;
  color:black;
}

div.banner {
  pointer-events: auto;
    line-height: 33vh;
}

div.child {
    pointer-events: none;
    background-color: inherit;
    color: inherit;

}

#count {
  position:fixed;
  bottom:0;
  left:0;
}
